<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="blocks/head"></head>

<header th:insert="blocks/header"></header>

<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
        <img src="/img/upload.svg " width="30%" height="30%"> </img>
        <h1 class="text-body-emphasis">Upload</h1>
        <p class="col-lg-8 mx-auto fs-5 text-muted">
            Chosse file whith size less than 10 MB.
        </p>
        <form class="d-inline-flex gap-2 mb-5" action="/upload" method="post" enctype="multipart/form-data">
            <label for="file" class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill">Choose File<input type="file" id="file" name="file" style="display: none;"></label>
            <button type="submit" class="btn btn-outline-secondary btn-lg px-4 rounded-pill">
                <svg th:if="${status}" id="ok-status" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg>
                Send
            </button>
        </form>
    </div>
</div>

<div th:insert="blocks/footer"></div>
</html>